<h3>Editing <%= @user.username %></h3>
<%= form_for @user do |f| %>
  <%= f.label "Salary" %>
  <%= f.number_field :salary %>
  <%= f.label "Old Level" %>
  <%= f.text_field :level %>
  <%= f.label "Decided Level" %>
  <%= f.text_field :decided_level %>

  <%= f.submit %>
<% end %>
