<h3>Write a review for <%= @review.reviewee.decorate.username %></h3>

<%= form_for [current_user, @review] do |f| %>
  <fieldset>
  <%= f.label :text, "Review Text" %>
  <span class="markdown-logo">
    <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">
      <img src="/markdown.png" />
    </a>
  </span>
  <%= f.text_area :text %>
  </fieldset>

  <fieldset>
  <%= f.label :text, "Suggested Level" %>
  <div>
    <%= f.text_field :suggested_level, class: "review-status-select" %>
  </div>
  </fieldset>

  <%= f.submit "Abstain from reviewing", class: "btn btn-warning save-review-btn", name: :abstain, data: { confirm: 'This will destroy your drafted review, continue?' } %>
  <%= f.submit "Save As Draft / Unpublish", class: "btn btn-info save-review-btn", name: :pending %>
  <%= f.submit "Publish", class: "btn btn-primary save-review-btn", name: :done %>
<% end %>

<blockquote class="level_summary">
  <h3 id="l0">L0</h3>
  <ul>
    <li>from college, needs a pair</li>
    <li>mentored</li>
  </ul>
  <h3 id="l1">L1</h3>
  <ul>
    <li>doesn&#39;t need a pair</li>
    <li>taking sales calls</li>
  </ul>
  <h3 id="l2">L2</h3>
  <ul>
    <li>own story delivering</li>
    <li>starting to own project</li>
    <li>client management / run pair</li>
    <li>starting / closing sales, recruiting</li>
  </ul>
  <h3 id="l3">L3</h3>
  <ul>
    <li>starting to mentor</li>
    <li>owning project</li>
    <li>own sales (bring leads + close) / recruiting</li>
  </ul>
  <h3 id="l4">L4</h3>
  <ul>
    <li>recruit senior people</li>
    <li>sell larger / long-term projects</li>
    <li>own staffing</li>
    <li>PM across projects</li>
  </ul>
  <h3 id="l5">L5</h3>
  <ul>
    <li>recruit, mentor both junior and senior people</li>
    <li>more of L5 (to be etched out more clearly)</li>
  </ul>
</blockquote>
