<h2>A Review from <%= @review.reviewer.decorate.username %> to <%= @review.reviewee.decorate.username %>
  <% if @review.reviewer == current_user %>
    <%= link_to "Edit", edit_user_review_path(current_user, @review), class: "btn btn-success btn-sm" %>
  <% end %>
</h2>

<% if @review.suggested_level.present?  %>
  <h4>Suggested Level: <%= @review.suggested_level %></h4>
<% end %>

<%= @review.markdown_text.html_safe %>

<% if @review.root_comments.present? %>
  <h2>
    Comments
    <%= link_to "Add", new_review_comment_path(@review) %>
  </h2>
  <%= @review.render_comments %>
<% else %>
  <h4><%= link_to "Add Comment", new_review_comment_path(@review) %></h4>
<% end %>
